body {
	padding: 20px 0;
  }
  
  .container {
	border: 3px solid yellow;
	position: relative;
	width: 300px;
	height: 300px;
	margin: 0 auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
	-o-user-select: none;
	user-select: none;
  }
  
  .canvas {
	position: absolute;
	top: 0;
  }
  
  .originalDiv {
	padding: 20px;
  }

  .hidden{
	  visibility: hidden;
  }